__pycache__/
*.py[cod]
*.class
*.so
.Python
build/
dist/
*.egg-info/
*.egg
*.manifest
*.spec
*.log
*.pot
*.mo
*.db
*.sqlite3
.env
.venv
venv/
ENV/
.vscode/
.idea/
.DS_Store
Thumbs.db
iconmonstr-folder-30.svg
show_tree_gui_pkg_cmd.txt
/setup/
